
<button hx-delete="@Url.Action("Delete")/1" 
        hx-target="#search-results"
        hx-confirm="Are you sure you want to delete this record?" class="btn btn-sm btn-outline-danger">Do it</button>